
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1F2937;
  font-family: Roboto;
}

button {
  background-color: #3882f6;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 8px;
  border-width: 0px;
}

.header-ribbon-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px;
}

a:hover {
  color: #cbdfff;
}

a:active {
  color: white;
}


.header, .sign-up, .footer {
  color: white;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 6px 24px;
  padding-bottom: 48px;
}

.header-logo {
  border-radius: 18px;
  width: 60px;
  margin-right: 100px;
}

.header-link, .header-description {
  font-size: 18px;
  color: #E5E7EB;
}

.header-ribbon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;

  /* background-color: #1F2937; */
}

.header-info {
  display: flex;
  justify-content: flex-start;
  gap: 72px;
  padding: 8px 16px;
}

.header-title {
  font-size: 48px;
  font-weight: 900;
  flex-shrink: 0;
  width: 530px;
}

.header-description {
  margin-bottom: 8px;
  max-width: 1000px;
  height: 135px;
  padding: 16px 0px;
  overflow: auto;
  font-size: 16px;
}

.header-image {
  width: 450px;
  border-radius: 16px;
  background-color: white;
  padding: 5px;
}

.header-office-map {
  width: 450px;
  height: 250px;
  border-radius: 16px;
  background-color: white;
  padding: 5px;
}

.content {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px;
  padding-bottom: 48px;
}

.content-block-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px;
}

.content-block {
  flex-basis: 10%;
  text-align: center;
}

.content-block-image-border {
  border: 4px solid #3882f6;
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 6px;
  
  width: 100px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content-block-image {
  width: 100%;
  height: 100%;
  object-fit: contain;

  padding: 1rem;
  color: white;

  /* border-width: 4px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom,
      #0069fd51, 
      #3882f6
    ) 1 ;
   */

}

.content-block-description {
  font-weight: bold;
}

.quote {
  background-color: #E5E7EB;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 48px;
}

.quote-section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.quote-text {
  color: #1F2937;
  font-size: 24px;
  font-style: italic;
  font-weight: 100;
}

.quote-author { 
  align-self: flex-end;
}


.call-to-action-wrapper {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

.call-to-action {
  background-color: #3882f6;
  color: white;
  padding: 32px 64px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}

.call-header {
  font-size: 18px;
  font-weight: bold;
}

.call-description {
  color: #E5E7EB;
}

.sign-up-button {
  border: 2px solid white;
}

.footer {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 24px;
}

.copyright-label {
  font-size: 18px;
  color: #E5E7EB;
}

.parallax-office-background1 {
  background-image: url('./images/Office\ Image\ 1.1.jpg');

  min-height: 400px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-office-background2 {
  background-image: url('./images/Office\ Image\ 2.1.jpg');

  min-height: 400px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
